* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

.main-royal-logo,
.booking-btn,
.location-use,
.royal-ft-logo,
.fa-less-than,
.fa-greater-than,
.last-address {
    cursor: pointer;
}

body,
.main-bikes-meter,
.head-cafe,
.tyre-section,
.mr-bike-section,
.gallery-section {
    background-color: #080808;
}

.continental-section,
.head-cafe,
.tyre-section,
.clean-bike-img,
.gallery-btn-section,
.gallery-img-section,
.royal-footer,
.icon-angles-curve {
    display: flex;
}

.continental-section,
.head-cafe,
.tyre-section,
.clean-bike-img,
.gallery-btn-section,
.royal-footer,
.icon-angles-curve {
    align-items: center;
}

.continental-section,
.royal-footer,
.icon-angles-curve {
    justify-content: space-around;
}

.head-cafe,
.img-wrapper,
.gt-side-img,
.bike-side,
.bike-royal-section,
.head-cafe,
.head-light-img,
.img-cast-alloy,
.metero-img,
.mr-bike-section,
.gallery-img-section {
    width: 100%;
}

.bike-information,
.header-img,
.bike-head-img,
.bike-head-section,
.tyre-specification,
.tyre-img,
.bike-royal-store,
.clean-img2,
.footer-left-sd,
.footer-right-sd {
    width: 50%;
}

.shop-btn,
.mr-bike-section,
.angles-bike,
.email-ipt {
    text-align: center;
}

.bike-feature,
.bike-royal-store,
.bike-store-side,
.icon-fa-less {
    position: relative;
}

.main-royal-logo {
    margin: 2% 0% -4% 4%;
}

.continental-section {
    color: #F2F2F2;
}

.bike-information {
    margin: 4%;
}

.img-wrapper {
    height: auto;
}

.booking-btn {
    font-weight: 400;
    font-size: 20px;
    background-color: #222222;
    color: #F2F2F2;
    padding: 10px 20px;
    border: none;
    margin: 10px;
}

.location-use {
    margin: 2%;
}

.bike-name {
    font-weight: 400;
    font-size: 80px;
    font-family: Righteous;
}

.bike-model {
    font-size: 150px;
    font-weight: 400;
    font-family: Righteous;
}

.use-loc-here {
    font-size: 12px;
    font-weight: 400;
    margin: 1%;
    text-decoration: underline;
}

.bike-side,
.bike-royal-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bike-side {
    background-image: url(images/engine\ 1.png);
    height: 697px;
}

.bike-feature {
    font-size: 18px;
    font-weight: 400;
    color: #D9D9D9;
    left: 62%;
    bottom: -350px;
    width: 34%;
}

.head-cafe {
    color: #F2F2F2;
    padding: 4% 0;
}

.bike-head-section {
    margin: 6%;
}

.bike-cafe {
    font-size: 80px;
    font-weight: 400;
    font-family: Righteous;
}

.bike-cafe-performance {
    font-size: 18px;
    font-weight: 400;
}

.tyre-section {
    padding: 4% 0%;
}

.tyre-specification {
    margin: 4%;
}

.tyre-model {
    font-size: 80px;
    font-weight: 400;
    font-family: Righteous;
    color: #F2F2F2;
}

.wheel-power {
    font-weight: 400;
    font-size: 18px;
    color: #D9D9D9;
}

.bike-royal-section {
    background-image: url(images/cycleworld\ 1.png);
    height: 346px;
}

.bike-royal-store {
    background: #00000099;
    left: 50%;
    height: 346px;
}

.bike-store-side {
    top: 20%;
}

.new-bike-color {
    font-size: 80px;
    font-weight: 400;
    font-family: Righteous;
    color: #F2F2F2;
    padding: 4% 0;
}

.mr-bike-name {
    font-size: 50px;
    font-weight: 400;
    color: #F2F2F2;
    margin: 1%;
}

.clean-bike-img {
    background: linear-gradient(180deg, #080808 41.67%, rgba(8, 8, 8, 0.421875) 69.27%, rgba(8, 8, 8, 0) 100%);
    padding: 2%;
}

.clean-img1 {
    width: 25%;
    height: auto;
}

.clean-img2 {
    height: auto;
}

.icon-fa-less {
    margin: 10px;
    top: -230px;
}

.fa-less-than,
.fa-greater-than {
    color: #F2F2F2;
    font-size: 30px;
}

.ellipse {
    width: 70%;
}

.angles-bike {
    color: #F2F2F2;
    font-size: 20px;
    font-weight: 400;
    padding: 1%;
}

.gallery-section {
    padding: 4% 0;
}

.gallery-btn-section {
    justify-content: space-between;
    padding: 2% 4%;
}

.gallery-name {
    color: #F2F2F2;
    font-size: 80px;
    font-weight: 400;
    font-family: Righteous;
}

.gallery-img-section {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-img {
    width: 30%;
}

.footer {
    background-image: url(images/continental-gt-650-motorcycle\ 1.png);
}

.royal-footer,
.last-address {
    background: #000000CC;
}

.royal-footer {
    padding: 1%;
}

.royal-ft-logo {
    margin: 6%;
}

.footer-section {
    font-size: 30px;
    font-weight: 400;
    font-family: Righteous;
    color: #F2F2F2;
    margin: 2%;
}

.email-ipt {
    border: none;
    outline: none;
    color: #F2F2F2;
    background-color: #000000;
    font-size: 12px;
    font-weight: 400;
    padding: 19px 141px 17px 1px;
    margin: 1%;
}

.last-address {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 1%;
}

.design-color {
    color: #F24822;
    text-decoration: underline;
}

@media screen and (max-width: 1121px) {

    .bike-name,
    .bike-cafe,
    .tyre-model {
        font-size: 50px;
    }

    .bike-model {
        font-size: 90px;
    }

    .bike-cafe-performance,
    .wheel-power {
        font-size: 16px;
    }

    .icon-fa-less {
        position: relative;
        top: -190px;
    }
}

@media screen and (max-width: 900px) {
    .gallery-img {
        width: 48%;
    }

    .bike-feature {
        position: unset;
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .bike-feature-wrapper {
        position: relative;
        top: 50%;
    }

    .tyre-specification {
        margin: 2%;
    }

    .wheel-power {
        font-size: 15px;
    }

    .gallery-img-section {
        gap: 10px;
    }

    .icon-fa-less {
        position: relative;
        top: -150px;
    }
}

@media screen and (max-width: 700px) {

    body {
        text-align: center;
    }

    .clean-bike-img,
    .royal-footer {
        display: block;
    }

    .main-royal-logo,
    .bike-information,
    .bike-head-section,
    .tyre-specification {
        margin: 0;
    }

    .wrapper-mobile {
        background-image: url(images/gallery-4\ 1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main-bikes-meter {
        background: #00000099;
    }

    .continental-section {
        padding: 0;
    }

    .bike-information {
        width: 100%;
        padding: 2%;
    }

    .bike-feature {
        font-size: 16px;
    }

    .bike-name {
        font-size: 50px;
    }

    .bike-model {
        font-size: 60px;
    }

    .header-img,
    .bike-head-img,
    .tyre-img,
    .icon-angles-curve {
        display: none;
    }

    .bike-head-img {
        width: 90%;
    }

    .head-cafe,
    .tyre-section {
        background-size: contain, cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 0;
        min-height: 350px;
    }

    .head-cafe {
        background-image: url(images/led-headlamp\ 1.png);
    }

    .bike-cafe {
        font-size: 40px;
    }

    .bike-cafe-performance {
        font-size: 14px;
        margin: 25px;
    }

    .bike-head-section,
    .tyre-specification {
        width: 100%;
        background-color: #00000099;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3%;
    }

    .tyre-section {
        background-image: url(images/cast-alloy-wheels\ 1.png);
    }

    .tyre-model,
    .new-bike-color,
    .gallery-name {
        font-size: 40px;
    }

    .wheel-power {
        font-size: 14px;
        margin: 25px;
    }

    .mr-bike-name {
        font-size: 30px;
    }

    .angles-bike {
        font-size: 14px;
    }

    .gallery-img-section {
        gap: 6px;
    }

    .clean-img1,
    .clean-img2 {
        height: auto;
    }

    .footer-left-sd,
    .footer-right-sd {
        width: auto;
    }

    .clean-img1 {
        width: 50%;
    }

    .bike-royal-store {
        left: 0;
    }

    .clean-img2,
    .bike-royal-store {
        width: 100%;
    }

    .gallery-img {
        width: 96%;
    }

    .royal-ft-logo {
        margin: 2%;
    }

    .footer-section {
        font-size: 22px;
    }

    .icon-fa-less {
        position: relative;
        top: -50px;
    }
}